@use "./palette.scss" as styles;
:export {
  colorAutumnLight50: styles.$colorAutumnLight50;
  colorAutumnLight100: styles.$colorAutumnLight100;
  colorAutumnLight200: styles.$colorAutumnLight200;
  colorAutumnLight300: styles.$colorAutumnLight300;
  colorAutumnLight400: styles.$colorAutumnLight400;
  colorAutumnLight500: styles.$colorAutumnLight500;
  colorAutumnLight600: styles.$colorAutumnLight600;
  colorAutumnLight700: styles.$colorAutumnLight700;
  colorAutumnLight800: styles.$colorAutumnLight800;
  colorAutumnLight900: styles.$colorAutumnLight900;
  colorAutumnLightAutumnLight: styles.$colorAutumnLightAutumnLight;
  colorAutumnLeaf50: styles.$colorAutumnLeaf50;
  colorAutumnLeaf100: styles.$colorAutumnLeaf100;
  colorAutumnLeaf200: styles.$colorAutumnLeaf200;
  colorAutumnLeaf300: styles.$colorAutumnLeaf300;
  colorAutumnLeaf400: styles.$colorAutumnLeaf400;
  colorAutumnLeaf500: styles.$colorAutumnLeaf500;
  colorAutumnLeaf600: styles.$colorAutumnLeaf600;
  colorAutumnLeaf700: styles.$colorAutumnLeaf700;
  colorAutumnLeaf800: styles.$colorAutumnLeaf800;
  colorAutumnLeaf900: styles.$colorAutumnLeaf900;
  colorAutumnLeafAutumnLeaf: styles.$colorAutumnLeafAutumnLeaf;
  colorAutumnDusk50: styles.$colorAutumnDusk50;
  colorAutumnDusk100: styles.$colorAutumnDusk100;
  colorAutumnDusk200: styles.$colorAutumnDusk200;
  colorAutumnDusk300: styles.$colorAutumnDusk300;
  colorAutumnDusk400: styles.$colorAutumnDusk400;
  colorAutumnDusk500: styles.$colorAutumnDusk500;
  colorAutumnDusk600: styles.$colorAutumnDusk600;
  colorAutumnDusk700: styles.$colorAutumnDusk700;
  colorAutumnDusk800: styles.$colorAutumnDusk800;
  colorAutumnDusk900: styles.$colorAutumnDusk900;
  colorAutumnDuskAutumnDusk: styles.$colorAutumnDuskAutumnDusk;
  colorAutumnEarly50: styles.$colorAutumnEarly50;
  colorAutumnEarly100: styles.$colorAutumnEarly100;
  colorAutumnEarly200: styles.$colorAutumnEarly200;
  colorAutumnEarly300: styles.$colorAutumnEarly300;
  colorAutumnEarly400: styles.$colorAutumnEarly400;
  colorAutumnEarly500: styles.$colorAutumnEarly500;
  colorAutumnEarly600: styles.$colorAutumnEarly600;
  colorAutumnEarly700: styles.$colorAutumnEarly700;
  colorAutumnEarly800: styles.$colorAutumnEarly800;
  colorAutumnEarly900: styles.$colorAutumnEarly900;
  colorAutumnEarlyAutumnEarly: styles.$colorAutumnEarlyAutumnEarly;
  colorAutumnDawn50: styles.$colorAutumnDawn50;
  colorAutumnDawn100: styles.$colorAutumnDawn100;
  colorAutumnDawn200: styles.$colorAutumnDawn200;
  colorAutumnDawn300: styles.$colorAutumnDawn300;
  colorAutumnDawn400: styles.$colorAutumnDawn400;
  colorAutumnDawn500: styles.$colorAutumnDawn500;
  colorAutumnDawn600: styles.$colorAutumnDawn600;
  colorAutumnDawn700: styles.$colorAutumnDawn700;
  colorAutumnDawn800: styles.$colorAutumnDawn800;
  colorAutumnDawn900: styles.$colorAutumnDawn900;
  colorAutumnDawnAutumnDawn: styles.$colorAutumnDawnAutumnDawn;
}

@mixin textStyleLabel {
  font-size: 1rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleHeadingsHeading6 {
  font-size: 1rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 19px;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleHeadingsHeading5 {
  font-size: 1.25rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleHeadingsHeading4 {
  font-size: 1.5rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleHeadingsHeading3 {
  font-size: 2rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 37px;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleHeadingsHeading2 {
  font-size: 2.5rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 47px;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleHeadingsHeading1 {
  font-size: 3rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 60px;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleLabelsLight {
  font-size: 1rem;
  font-family: "Red Rose";
  font-weight: 300;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleLabelsMedium {
  font-size: 1rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleLabelsStrong {
  font-size: 1rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleParagraphsLarge {
  font-size: 1.5rem;
  font-family: "Red Rose";
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleParagraphsBase {
  font-size: 1rem;
  font-family: "Red Rose";
  font-weight: 400;
  font-style: normal;
  line-height: 175%;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleParagraphsSmall {
  font-size: 0.75rem;
  font-family: "Red Rose";
  font-weight: 400;
  font-style: normal;
  line-height: 175%;
  text-decoration: none;
  text-transform: none;
}
