@use "./palette.scss" as style;
:export {
  colorAutumnLight50: style.$colorAutumnLight50;
  colorAutumnLight100: style.$colorAutumnLight100;
  colorAutumnLight200: style.$colorAutumnLight200;
  colorAutumnLight300: style.$colorAutumnLight300;
  colorAutumnLight400: style.$colorAutumnLight400;
  colorAutumnLight500: style.$colorAutumnLight500;
  colorAutumnLight600: style.$colorAutumnLight600;
  colorAutumnLight700: style.$colorAutumnLight700;
  colorAutumnLight800: style.$colorAutumnLight800;
  colorAutumnLight900: style.$colorAutumnLight900;
  colorAutumnLightAutumnLight: style.$colorAutumnLightAutumnLight;
  colorAutumnLeaf50: style.$colorAutumnLeaf50;
  colorAutumnLeaf100: style.$colorAutumnLeaf100;
  colorAutumnLeaf200: style.$colorAutumnLeaf200;
  colorAutumnLeaf300: style.$colorAutumnLeaf300;
  colorAutumnLeaf400: style.$colorAutumnLeaf400;
  colorAutumnLeaf500: style.$colorAutumnLeaf500;
  colorAutumnLeaf600: style.$colorAutumnLeaf600;
  colorAutumnLeaf700: style.$colorAutumnLeaf700;
  colorAutumnLeaf800: style.$colorAutumnLeaf800;
  colorAutumnLeaf900: style.$colorAutumnLeaf900;
  colorAutumnLeafAutumnLeaf: style.$colorAutumnLeafAutumnLeaf;
  colorAutumnDusk50: style.$colorAutumnDusk50;
  colorAutumnDusk100: style.$colorAutumnDusk100;
  colorAutumnDusk200: style.$colorAutumnDusk200;
  colorAutumnDusk300: style.$colorAutumnDusk300;
  colorAutumnDusk400: style.$colorAutumnDusk400;
  colorAutumnDusk500: style.$colorAutumnDusk500;
  colorAutumnDusk600: style.$colorAutumnDusk600;
  colorAutumnDusk700: style.$colorAutumnDusk700;
  colorAutumnDusk800: style.$colorAutumnDusk800;
  colorAutumnDusk900: style.$colorAutumnDusk900;
  colorAutumnDuskAutumnDusk: style.$colorAutumnDuskAutumnDusk;
  colorAutumnEarly50: style.$colorAutumnEarly50;
  colorAutumnEarly100: style.$colorAutumnEarly100;
  colorAutumnEarly200: style.$colorAutumnEarly200;
  colorAutumnEarly300: style.$colorAutumnEarly300;
  colorAutumnEarly400: style.$colorAutumnEarly400;
  colorAutumnEarly500: style.$colorAutumnEarly500;
  colorAutumnEarly600: style.$colorAutumnEarly600;
  colorAutumnEarly700: style.$colorAutumnEarly700;
  colorAutumnEarly800: style.$colorAutumnEarly800;
  colorAutumnEarly900: style.$colorAutumnEarly900;
  colorAutumnEarlyAutumnEarly: style.$colorAutumnEarlyAutumnEarly;
  colorAutumnDawn50: style.$colorAutumnDawn50;
  colorAutumnDawn100: style.$colorAutumnDawn100;
  colorAutumnDawn200: style.$colorAutumnDawn200;
  colorAutumnDawn300: style.$colorAutumnDawn300;
  colorAutumnDawn400: style.$colorAutumnDawn400;
  colorAutumnDawn500: style.$colorAutumnDawn500;
  colorAutumnDawn600: style.$colorAutumnDawn600;
  colorAutumnDawn700: style.$colorAutumnDawn700;
  colorAutumnDawn800: style.$colorAutumnDawn800;
  colorAutumnDawn900: style.$colorAutumnDawn900;
  colorAutumnDawnAutumnDawn: style.$colorAutumnDawnAutumnDawn;
}

@mixin textStyleLabel {
  font-size: 1rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleHeadingsHeading6 {
  font-size: 1rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 19px;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleHeadingsHeading5 {
  font-size: 1.25rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleHeadingsHeading4 {
  font-size: 1.5rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleHeadingsHeading3 {
  font-size: 2rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 37px;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleHeadingsHeading2 {
  font-size: 2.5rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 47px;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleHeadingsHeading1 {
  font-size: 3rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 60px;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleLabelsLight {
  font-size: 1rem;
  font-family: "Red Rose";
  font-weight: 300;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleLabelsMedium {
  font-size: 1rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleLabelsStrong {
  font-size: 1rem;
  font-family: "Red Rose";
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleParagraphsLarge {
  font-size: 1.5rem;
  font-family: "Red Rose";
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleParagraphsBase {
  font-size: 1rem;
  font-family: "Red Rose";
  font-weight: 400;
  font-style: normal;
  line-height: 175%;
  text-decoration: none;
  text-transform: none;
}
@mixin textStyleParagraphsSmall {
  font-size: 0.75rem;
  font-family: "Red Rose";
  font-weight: 400;
  font-style: normal;
  line-height: 175%;
  text-decoration: none;
  text-transform: none;
}
